<div style="display: flex">
    <div>
    No Binding on (single) selection <br>
    <strong>No highlight is displayed when clicking on an item.</strong>
    <p-tree 
        [value]="theData" 
        selectionMode="single"
        ></p-tree>
    </div>

    <div>
    No Binding on (multiple) selection <br>
    TreeNode is highlighted after it is clicked on.
    <p-tree 
        [value]="theData" 
        selectionMode="multiple"
        ></p-tree>
    </div>
        
    <div>
    Two way binding (single) selection <br>
    TreeNode is highlighted after it is clicked on.
    <p-tree 
        [value]="theData" 
        selectionMode="single"
        [(selection)]="selectedFile"
        ></p-tree>
    </div>

</div>
